In [3]:
import pandas as pd

In [4]:
#data uji
!gdown --id 13ZI1aEo3wkZz1Fq5Sgdzj_uSIgRsyW8b

Downloading...
From: https://drive.google.com/uc?id=13ZI1aEo3wkZz1Fq5Sgdzj_uSIgRsyW8b
To: /content/DataBaru.xlsx
100% 8.65k/8.65k [00:00<00:00, 13.9MB/s]

In [5]:
#data testing
!gdown --id 1Ebxkr7JhbsjK39A07MrZjrPq0QAba4nk

Downloading...
From: https://drive.google.com/uc?id=1Ebxkr7JhbsjK39A07MrZjrPq0QAba4nk
To: /content/DataTesting.xlsx
100% 9.15k/9.15k [00:00<00:00, 8.55MB/s]

In [6]:
#tahap 2
# untuk menghitung jumlah ya dan tidak serta probabilitas ya dan tidak dari data testing
#input  : dataframe testing
#output : total ya , total tidak , probabilitas ya dan probabilitas tidak
def HitungProbabilitasLayak(dataframe):
  total_ya = 0
  total_tidak = 0
  for i in range(len(dataframe)):
    if dataframe.iloc[i]['Layak DiRekomendasikan'] == 'Ya':
      total_ya = total_ya + 1
    elif dataframe.iloc[i]['Layak DiRekomendasikan'] == 'Tidak':
      total_tidak = total_tidak + 1
  probabilitas_ya    = total_ya / (total_ya + total_tidak)
  probabilitas_tidak = total_tidak / (total_ya + total_tidak)
  return total_ya ,probabilitas_ya, total_tidak, probabilitas_tidak

In [7]:
#tahap 3
#untuk menghitung probabilitas suatu kelas dan nilainya
# input : dataframe testing, nama kelas yang akan di hitung, nilai kelasnya, total ya dan total tidak
# output : sebuah list yang berisi nama kelas nilai kelas, probabilitas kelas jika layak dan probabilitas kelas untuk tidak layak
def ProbabilitasRekomendasiNilaiKelas(dataframe,nama_kelas,nilai_kelas,total_ya,total_tidak):
  
  total_ya_kelas = 0
  total_tidak_kelas = 0
  for i in range(len(dataframe)):
    if dataframe.iloc[i][nama_kelas] == nilai_kelas and dataframe.iloc[i]['Layak DiRekomendasikan'] == 'Ya':
      total_ya_kelas = total_ya_kelas + 1
    elif dataframe.iloc[i][nama_kelas] == nilai_kelas  and dataframe.iloc[i]['Layak DiRekomendasikan'] == 'Tidak':
      total_tidak_kelas = total_tidak_kelas + 1
  probabilitas_ya_kelas    = total_ya_kelas / total_ya
  probabilitas_tidak_kelas = total_tidak_kelas / total_tidak

  return [nama_kelas,nilai_kelas,probabilitas_ya_kelas,probabilitas_tidak_kelas]

In [8]:
#tahap 4
#untuk menghitung probabilitas data testing di rekomendasikan seberapa besar
# input  : probabilitas baterai, probabilitas kamera dan probabilitas harga
# output : probabilitas X atau data uji layak dan tidak layak
def HitungProbabilitasRekomendasiKelas(probabilitas_baterai,probabilitas_kamera,probabilitas_harga):
  probabilitas_X_ya    = probabilitas_baterai[2] * probabilitas_kamera[2] * probabilitas_harga[2]
  probabilitas_X_tidak = probabilitas_baterai[3] * probabilitas_kamera[3] * probabilitas_harga[3]
  return probabilitas_X_ya,probabilitas_X_tidak

In [9]:
# untuk menampilkan data hasil dari tahap 2
# input : list data hasil perhitungan tahap 2
# output : menampilkan kelas , nilai kelas, probabilitas ya dan probabilitas tidak
def TampilkanTahap2(ListData):
  print('Kelas              :',ListData[0])
  print('Nilai Kelas        :',ListData[1])
  print('Probabilitas Ya    :',ListData[2])
  print('Probabilitas Tidak :',ListData[3])
  print()

In [10]:
# untuk menampilkan dataframe uni
# input : dataframe uji
# output : menampilkan seluruh nilai pada data uji.
def TampilkanDataUji(dataframe_Uji):
  print('Handphone              :',df_uji.iloc[0]['Handphone'])
  print('Baterai                :',df_uji.iloc[0]['Baterai'])
  print('Kamera                 :',df_uji.iloc[0]['Kamera'])
  print('Harga                  :',df_uji.iloc[0]['Harga'])

In [11]:
df_testing = pd.read_excel('https://drive.google.com/uc?id=1GFU4BWuLuna2nM9xv6Yq3MS51c0Mpc0W')
df_testing

   Handphone Baterai  Kamera         Harga Layak DiRekomendasikan
0         H1    Kuat  Tinggi  Sangat Murah                     Ya
1         H2    Kuat  Tinggi  Sangat Mahal                     Ya
2         H3    Kuat  Sedang         Mahal                     Ya
3         H4    Kuat  Rendah         Mahal                  Tidak
4         H5   Cukup  Tinggi  Sangat Murah                     Ya
5         H6   Cukup  Sedang         Mahal                     Ya
6         H7   Cukup  Sedang  Sangat Mahal                     Ya
7         H8   Cukup  Tinggi         Murah                     Ya
8         H9   Cukup  Rendah         Mahal                  Tidak
9        H10   Lemah  Tinggi  Sangat Murah                     Ya
10       H11   Lemah  Tinggi  Sangat Mahal                  Tidak
11       H12   Lemah  Sedang         Murah                  Tidak
12       H13   Lemah  Sedang         Mahal                  Tidak
13       H14   Lemah  Rendah  Sangat Mahal                  Tidak

In [12]:
#data frame yang akan di cari kelas data uji dari data testing di atas menggunakan Naive Bayes Classifier
#Tahap 1
df_uji = pd.read_excel('https://drive.google.com/uc?id=1Xv-ETgnYRARhV2icRMcMo6u5yaRfaDdl')
df_uji

  Handphone Baterai  Kamera  Harga
0       H15    Kuat  Sedang  Murah

In [13]:
#Program Utama

#Tahap 2
Total_ya ,Probabilitas_ya, Total_tidak, Probabilitas_tidak = HitungProbabilitasLayak(df_testing)
print('Total Ya           :',Total_ya)
print('Probabilitas Ya    :',Probabilitas_ya)
print('Total Tidak        :',Total_tidak)
print('Probabilitas Tidak :',Probabilitas_tidak)

#Tahap 3
print('############################################')
ListData_Baterai = ProbabilitasRekomendasiNilaiKelas(df_testing,'Baterai',df_uji.iloc[0]['Baterai'],Total_ya,Total_tidak)
ListData_Kamera  = ProbabilitasRekomendasiNilaiKelas(df_testing,'Kamera',df_uji.iloc[0]['Kamera'],Total_ya,Total_tidak)
ListData_Harga   = ProbabilitasRekomendasiNilaiKelas(df_testing,'Harga' ,df_uji.iloc[0]['Harga'],Total_ya,Total_tidak)
TampilkanTahap2(ListData_Baterai)
TampilkanTahap2(ListData_Kamera)
TampilkanTahap2(ListData_Harga)
print('############################################')

# Tahap 4
Probabilitas_X_Ya, Probabilitas_X_Tidak = HitungProbabilitasRekomendasiKelas(ListData_Baterai,ListData_Kamera,ListData_Harga)
print('P(X | Direkomendasikan Ya)   :',Probabilitas_X_Ya)
print('P(X | Direkomendasikan Tidak):',Probabilitas_X_Tidak)
print('############################################')

#Tahap 5
print('P(X | Direkomendasikan Ya) * P(Direkomendasikan Ya)       :',Probabilitas_X_Ya*Probabilitas_ya)
print('P(X | Direkomendasikan Tidak) * P(Direkomendasikan Tidak) :',Probabilitas_X_Tidak*Probabilitas_tidak)
print()
print('Hasil kelas data uji dari data testing menggunakan Naive Bayes Classifier :')
print()
TampilkanDataUji(df_uji)
if (Probabilitas_X_Ya*Probabilitas_ya) > (Probabilitas_X_Tidak*Probabilitas_tidak):
  print('Layak DiRekomendasikan : Ya')
else:
  print('Layak DiRekomendasikan : Tidak')

Total Ya           : 8
Probabilitas Ya    : 0.5714285714285714
Total Tidak        : 6
Probabilitas Tidak : 0.42857142857142855
############################################
Kelas              : Baterai
Nilai Kelas        : Kuat
Probabilitas Ya    : 0.375
Probabilitas Tidak : 0.16666666666666666

Kelas              : Kamera
Nilai Kelas        : Sedang
Probabilitas Ya    : 0.375
Probabilitas Tidak : 0.3333333333333333

Kelas              : Harga
Nilai Kelas        : Murah
Probabilitas Ya    : 0.125
Probabilitas Tidak : 0.16666666666666666

############################################
P(X | Direkomendasikan Ya)   : 0.017578125
P(X | Direkomendasikan Tidak): 0.009259259259259259
############################################
P(X | Direkomendasikan Ya) * P(Direkomendasikan Ya)       : 0.010044642857142856
P(X | Direkomendasikan Tidak) * P(Direkomendasikan Tidak) : 0.003968253968253968

Hasil kelas data uji dari data testing menggunakan Naive Bayes Classifier :

Handphone              : H15
Baterai                : Kuat
Kamera                 : Sedang
Harga                  : Murah
Layak DiRekomendasikan : Ya